spring:
  # MySQL
  datasource:
    url: jdbc:mysql://lxp-mysql:3306/lxp_user_dev?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  # JPA
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
  # Redis
  data:
    redis:
      host: redis
      port: 6379
      username: ${SPRING_DATA_REDIS_USERNAME:default}
      password: ${SPRING_DATA_REDIS_PASSWORD}
  # RabbitMQ
  rabbitmq:
    host: rabbitmq
    port: 5672
    username: ${SPRING_RABBITMQ_USERNAME}
    password: ${SPRING_RABBITMQ_PASSWORD}

services:
  tag:
    url: http://lxp-admin:8080
  auth:
    url: http://lxp-auth:8080

passport:
  key:
    secret-key: ${PASSPORT_SECRET:default-secret-key-for-testing-minimum-32chars}

internal:
  auth-token: ${INTERNAL_AUTH_TOKEN:auth-service-internal-token}

# Actuator (Health Check)
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      probes:
        enabled: true
# 서버 포트
server:
  port: 8080
